@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.servicios {
  @include section();
  @include flexCenter(column);

  .services-section {
    width: 100%;
    margin-bottom: 72px;

    .services-section-title {
      margin-bottom: 40px;
      font-size: 40px;
    }

    .services-section-description {
      max-width: 430px;
      margin: 0 auto 32px;
      font-size: 18px;
    }

    .services-section-image {
      width: 100%;
      max-width: 640px;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  .offer-section {
    width: 100%;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .offer-section-title {
      margin-bottom: 24px;
      font-size: 28px;
    }

    .offer-section-cards {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 16px;
    }

    .service-card {
      width: 100%;
      max-width: 700px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      text-align: left;

      .service-card-title {
        margin-bottom: 8px;
        text-align: center;
        font-size: 22px;
        color: $yellow;
      }

      .service-card-description {
        max-width: 550px;
        margin-bottom: 12px;
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .workflow-section {
    width: 100%;
    margin-bottom: 100px;

    .workflow-section-title {
      margin-bottom: 24px;
      font-size: 28px;
    }

    .workflow-card {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      align-items: stretch;
      text-align: left;

      .workflow-card-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .workflow-card-step {
        color: $pink;
        font-weight: 600;
        font-size: 20px;
      }

      .workflow-card-description {
        font-size: 16px;
      }
    }
  }

  .services-contact-section {
    width: 100%;
    margin-bottom: 100px;

    .services-contact-section-title {
      margin-bottom: 20px;
      font-size: 30px;
    }

    .services-contact-section-description {
      margin-bottom: 32px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: $tablet-bp) {
  .servicios {
    .services-section {
      margin-bottom: 60px;

      .services-section-title {
        margin-bottom: 48px;
        text-align: center;
      }

      .services-section-description {
        max-width: 860px;
        margin-bottom: 56px;
        font-size: 22px;
      }

      .services-section-image {
        max-width: 920px;
      }
    }

    .offer-section {
      margin-bottom: 120px;

      .offer-section-title {
        margin-bottom: 48px;
        font-size: 40px;
      }

      .offer-section-cards {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: 80%;
        align-items: stretch;
        gap: 20px;
      }

      .service-card {
        height: 100%;

        .service-card-title {
          font-size: 28px;
        }

        .service-card-description {
          font-size: 20px;
        }
      }
    }

    .workflow-section {
      margin-bottom: 120px;

      .workflow-section-title {
        margin-bottom: 48px;
        font-size: 40px;
      }

      .workflow-card {
        .workflow-card-item {
          gap: 12px;
        }

        .workflow-card-step {
          font-size: 26px;
        }

        .workflow-card-description {
          font-size: 20px;
        }
      }
    }

    .services-contact-section {
      max-width: 1000px;
      margin-bottom: 200px;

      .services-contact-section-title {
        margin-bottom: 32px;
        font-size: 36px;
      }

      .services-contact-section-description {
        margin-bottom: 40px;
        font-size: 24px;
      }
    }
  }
}
