@use "../utils/variables" as *;

.contact-section {
  width: 100%;
  text-align: left;

  .contact-section-title {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }

  .contact-section-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contact-section-input-container {
    font-size: 16px;
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .contact-section-input {
    font-size: 14px;
  }

  .contact-section-textarea {
    font-size: 18px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      margin: 10px 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $black;
      border-radius: 20px;
    }
  }

  .contact-section-button {
    max-width: 400px;
    cursor: pointer;
  }
}

@media screen and (min-width: $tablet-bp) {
  .contact-section {
    .contact-section-title {
      font-size: 30px;
      margin-bottom: 68px;
    }

    .contact-section-form {
      flex-direction: row;
      gap: 70px;
    }

    .contact-section-input {
      font-size: 18px;
    }

    .contact-section-input-container {
      justify-content: space-between;
    }

    .contact-section-button {
      position: absolute;
      bottom: -40%;
    }
  }
}
