@use "../utils/variables" as *;

.dropdown {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  .dropdown-button {
    appearance: none;
    background: transparent;
    border: 0;
    width: 100%;
    min-height: 52px;
    padding: 14px 0;

    text-align: left;
    line-height: 1.25;
    font-size: 24px;
    font-weight: 600;
    color: $yellow;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    transition: color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  .dropdown-arrow {
    width: 18px;
    height: 12px;
    flex-shrink: 0;
    object-fit: contain;
    transition: 0.3s transform ease-in-out;
  }

  .dropdown-info {
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .dropdown-inner-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 16px;
    font-size: 20px;
  }

  &.active {
    border-bottom-color: transparent;

    .dropdown-arrow {
      transform: rotateX(180deg);
    }
  }
}

@media screen and (min-width: $tablet-bp) {
  .dropdown {
    width: 70%;

    .dropdown-button {
      font-size: 30px;
    }

    .dropdown-inner-container {
      font-size: 22px;
    }
  }
}
