.courses {
    @include section();
    @include flexCenter(column);

    .courses-section {
        width: 100%;
        @include flexCenter(column);
        margin-bottom: 41px;

        &__title {
            margin-bottom: 40px;
        }

        &__description{
            margin-bottom: 40px;
        }
    }

    .past-courses-section {
        width: 100vw;
        overflow: hidden;
        margin-bottom: 44px;

        &__title {
            margin-bottom: 11px;
        }

        &__description {
            margin-bottom: 24px;
        }

        .swiper-pagination {
            margin: 0px;
        }
    }

    .faq-section {
        margin-bottom: 150px;
        width: 100%;
        text-align: left;

        display: flex;
        flex-direction: column;
        gap: 20px;

        &__title {
        }

        .dropdown {
            padding: 0px 5px;

            &__title {
                padding-left: 0px;
            }
        }
    }
}
