.home {
    @include section();
    @include flexCenter(column);

    .hero-section {
        margin-bottom: 104px;
        max-width: 328px;

        &__img {
            width: 100%;
            max-width: 500px;
        }

        &__description {
            width: 100%;
            max-width: 500px;
            margin-top: 25px;
            margin-bottom: 60px;
        }
    }

    .cards-section {
        width: 100vw;
        overflow: hidden;
        margin-bottom: 90px;

        &__title {
            margin-bottom: 24px;
        }
    }

    .volunteer-section {
        width: 100%;
        overflow: hidden;
        margin-bottom: 90px;
        max-width: 328px;

        &__img{
            width: 100%;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__description {
            margin: 24px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    .contact-section {
        width: 100%;
        max-width: 328px;
        text-align: left;

        &__title {
            margin-bottom: 30px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .contact-section__textarea {
                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                    margin: 10px 0px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $black;
                    border-radius: 20px;
                }
            }
        }
    }

    .footer {
        margin: 104px 0px 41px 0px;
    }
}

@media screen and (min-width: $tablet-bp) {
    .home {
        @include section();
        @include flexCenter(column);

        //background-color: red;

        .hero-section {
            max-width: 100vw;
            margin-bottom: 104px;
            
            //width: 100vw;

            //margin-bottom: 60px;
            //overflow: hidden;

            &__img {
                width: 100vw;
                max-width: 735px;
                height: 100vw;
                max-height: 414px;
                

            }

            &__description {
                width: 100%;
                max-width: 800px;
                margin: 20px auto;
                padding: 0px 16px;
                //background-color: red;
            }

            // &__swiper-container {
            // }
        }

        .volunteer-section{

            max-width: 100vw;
            justify-content: space-between;
            align-items: center;


            &__title {


                margin-bottom: 24px;
            }

            &__conteiner{

                

                display: flex;
                flex-direction: row;

                &__img{


                    height: 320px;
                    width: 546px;

                }

                &__description-buttom{

                    display: flex;
                    flex-direction: column;

                    justify-content: space-around;



                    &__description{
                        text-align: left;

                    }
                }

            }

            
        }

        .contact-section{
            //background-color: red;
            // border: 1px;
            // border-color: white;
            // border-style: solid;

            max-width: 100vw;
            display: flex;
            flex-direction: column;


            justify-content: center;
            align-items: center;
            
            &__title{
                //background-color: red;
                font-size: 40px;
            }

            &__form{
                //background-color: red;

                flex-direction: row;
                justify-content: center;
                align-items: center;

                &__form1{
                    display: flex;
                    flex-direction: column;
                    width: 493px;
                    height: 176px;

                }

                &__form2{
                    display: flex;
                    flex-direction: column;
                    width: 546px;
                    height: 176px;

                }

            }

            
        }


        .footer {
            margin: 62px 0px 45px 0px;
        }
    }
}