.nosotres {
    padding: 0px 16px;

    @include flexCenter(column);
    text-align: center;
    overflow: hidden;

    .teams-section {
        width: 100%;
        margin-bottom: 62px;

        &__description {
            width: 100%;
            margin: 20px 0px;
        }
    }

    .integrants-section {
        width: 100%;
        text-align: left;
        

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .dropdown {
        padding: 0px 5px;

        &__title {
            color: $yellow;
            padding-left: 0px;
        }
    }

    .footer {
        margin: 62px 0px 45px 0px;
    }
}
