.text-yellow {
  color: #FFCC00;
  font-weight: 600;
}

.hidden {
  display: none !important;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

input, textarea {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  border: 0px;
}
input:focus, textarea:focus {
  outline: none;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
}
input::placeholder, textarea::placeholder {
  color: inherit;
}

button {
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: 0px;
}

*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/**
 * Swiper 8.4.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 12, 2022
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}
@media screen and (min-width: 1120px) {
  .swiper {
    width: 350px;
  }
}
.swiper.desktop > .swiper-wrapper {
  transition: none;
  transform: none;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-pagination {
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  margin-top: 16px;
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}
@media screen and (min-width: 1120px) {
  .swiper-pagination {
    display: none !important;
  }
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: #2D2D2D;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  background: #FFCC00;
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

@font-face {
  font-family: "Work Sans";
  font-weight: 100;
  src: url("../assets/fonts/WorkSans/WorkSans-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 200;
  src: url("../assets/fonts/WorkSans/WorkSans-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 300;
  src: url("../assets/fonts/WorkSans/WorkSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 400;
  src: url("../assets/fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 500;
  src: url("../assets/fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 600;
  src: url("../assets/fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 700;
  src: url("../assets/fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 800;
  src: url("../assets/fonts/WorkSans/WorkSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Work Sans";
  font-weight: 900;
  src: url("../assets/fonts/WorkSans/WorkSans-Black.ttf") format("truetype");
}
/*
font-size: xx-small;
font-size: x-small;
font-size: small;
font-size: medium;
font-size: large;
font-size: x-large;
font-size: xx-large;
*/
body {
  font-family: "Work Sans";
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

@media screen and (min-width: 1120px) {
  body {
    font-family: "Work Sans";
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
  h3 {
    font-weight: 600;
  }
  strong {
    font-weight: 600;
  }
}
body {
  background-color: #1a1a1a;
  padding-top: 115px;
  overflow-x: hidden;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 15;
  display: flex;
  padding-top: 125px;
  top: 0px;
  left: 0px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #1A1A1A;
  pointer-events: none;
}
.loading-screen__skeleton {
  background-color: #CCCCCC;
  animation: loading 1.2s infinite linear;
  border-radius: 20px;
}
.loading-screen__skeleton:nth-child(1) {
  width: 90%;
  height: 50%;
}
.loading-screen__skeleton:nth-child(2) {
  width: 90%;
  height: 40%;
}
.loading-screen.finished {
  animation: dissapear 0.6s forwards linear;
}
.loading-screen.finished .loading-screen__skeleton {
  animation: dissapear-skeleton 0.6s forwards linear;
}

body.loading {
  overflow: hidden;
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dissapear-skeleton {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background: #2D2D2D;
  margin-top: 70px;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #3E3E3E;
  border-radius: 20px;
}

.topbar-container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.topbar-container .progress-bar-container {
  width: 100%;
  background-color: #1A1A1A;
  border: 1px solid #1A1A1A;
}
.topbar-container .progress-bar-container .progress-bar {
  width: 1%;
  height: 10px;
  transition: 0.3s width ease-in-out;
  background-color: #FF99CC;
}
.topbar-container .topbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;
  background-color: #1A1A1A;
}
.topbar-container .topbar__logo {
  width: 160px;
}
.topbar-container .topbar__menu-button {
  height: 20px;
  padding: 0px 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.topbar-container .topbar__menu-button:hover {
  cursor: pointer;
}
.topbar-container .topbar__menu-button .topbar__menu-icon {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  transition: all 0.2s;
}
.topbar-container .topbar__menu-button .topbar__menu-icon::after, .topbar-container .topbar__menu-button .topbar__menu-icon::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  transition: all 0.3s;
}
.topbar-container .topbar__menu-button .topbar__menu-icon::after {
  transform: translateY(-6px);
}
.topbar-container .topbar__menu-button .topbar__menu-icon::before {
  transform: translateY(6px);
}
.topbar-container .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 60px;
  transition: 0.3s opacity;
  opacity: 0;
  font-size: 20px;
  background-color: #1A1A1A;
  font-weight: 600;
}
.topbar-container .menu .menu__link {
  text-align: center;
}
.topbar-container .menu .menu__link a.donaciones {
  display: block;
  width: 50vw;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 300px;
  padding: 16px 0px;
  font-weight: 600;
  border-radius: 1000px;
  color: #1A1A1A;
  background-color: #FFCC00;
}
.topbar-container.menu-open {
  z-index: 20;
}
.topbar-container.menu-open .topbar__menu-icon {
  background-color: transparent;
}
.topbar-container.menu-open .topbar__menu-icon::after {
  transform: rotate(45deg);
}
.topbar-container.menu-open .topbar__menu-icon::before {
  transform: rotate(-45deg);
}
.topbar-container.menu-open .menu {
  opacity: 1;
  pointer-events: auto;
}

body.menu-open {
  overflow: hidden;
}

@media screen and (min-width: 1120px) {
  .topbar-container {
    pointer-events: none;
  }
  .topbar-container .topbar__logo {
    width: 160px;
  }
  .topbar-container .topbar__menu-button {
    display: none;
  }
  .topbar-container .topbar__menu-button .topbar__menu-icon {
    display: none;
  }
  .topbar-container .topbar .menu {
    max-width: 1080px;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
    pointer-events: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    background-color: #1A1A1A;
    font-weight: 600;
    opacity: 1;
  }
  .topbar-container .topbar .menu__link {
    color: #CCCCCC;
  }
  .topbar-container .topbar .menu__link.active {
    color: #FF99CC;
  }
  .topbar-container .topbar .menu__link a.donaciones {
    display: inline;
    color: inherit;
    background-color: transparent;
  }
  body.menu-open {
    overflow: unset;
  }
}
.footer {
  width: 100%;
  max-width: 240px;
}
.footer__icon-container {
  width: 100%;
  padding: 40px 7px 0px 7px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 29px;
}
.footer__icon {
  width: 100%;
}

@media screen and (min-width: 1120px) {
  .footer {
    max-width: 670px;
  }
  .footer__title {
    display: none;
  }
  .footer__icon-container {
    padding: 40px 0px 48px 0px;
    display: flex;
    justify-content: space-around;
  }
  .footer__icon {
    max-width: 72px;
  }
}
.button {
  position: relative;
  width: 100%;
  padding: 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  border-radius: 1000px;
  background: #FFCC00;
  color: #1A1A1A;
  overflow: hidden;
}
.button__text {
  z-index: 10;
}
.button.button--error {
  background-color: #E35454;
}

.card {
  min-height: 390px;
  padding: 30px 20px 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
  background-color: #2D2D2D;
  color: #FFFFFF;
  border-radius: 16px;
  text-align: center;
}
.card__image {
  height: 175px;
}
.card__link {
  color: #FFCC00;
  text-decoration: none;
  font-weight: 600;
  margin-top: auto;
}

@media screen and (min-width: 1120px) {
  .card {
    min-height: 440px;
  }
  .card__description {
    font-size: 18px;
  }
}
.dropdown {
  width: 100%;
  border-bottom: 1px solid white;
}
.dropdown__title {
  padding-bottom: 12px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}
.dropdown__title:hover {
  cursor: pointer;
}
.dropdown__arrow {
  transition: 0.3s transform ease-in-out;
}
.dropdown__arrow.active {
  transform: rotateX(180deg);
}
.dropdown__info {
  transition-property: max-height, margin;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  max-height: 0px;
  overflow: hidden;
}
.dropdown__info.active {
  margin-bottom: 20px;
}

.contact {
  height: 48px;
  width: 100%;
  padding: 19px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  gap: 22px;
  background-color: #1A1A1A;
  border: 1px solid;
  border-color: #FFFFFF;
  color: #FFFFFF;
  border-radius: 1000px;
  text-align: left;
}

input {
  width: 100%;
  padding: 15px;
  text-align: left;
  font-weight: 300;
  background-color: #1A1A1A;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 1000px;
}

textarea {
  width: 100%;
  padding: 15px;
  text-align: left;
  height: 200px;
  font-weight: 500;
  background-color: #FFFFFF;
  color: #1A1A1A;
  border: 1px solid #FFFFFF;
  border-radius: 16px;
  resize: none;
}

.tag {
  font-size: small;
  width: -moz-max-content;
  width: max-content;
  padding: 8px;
  border-radius: 1000px;
  border: 1px solid #FFCC00;
  font-weight: 500;
}

.course-card {
  width: 100%;
  min-width: 295px;
  max-width: 328px;
  min-height: 430px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  background-color: #2D2D2D;
  color: #FFFFFF;
  border-radius: 16px;
  text-align: left;
}
.course-card__description {
  margin-bottom: auto;
}
.course-card__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: auto;
}
.course-card__information .course-card__curriculum-link {
  width: -moz-fit-content;
  width: fit-content;
}
.course-card__information .course-card__tags-container {
  display: flex;
  gap: 10px;
}

.past-course-card {
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.past-course-card__title {
  margin-bottom: 10px;
}
.past-course-card__image-container {
  position: absolute;
  background: rgb(39, 39, 39);
  background: linear-gradient(180deg, rgb(39, 39, 39) 0%, rgb(24, 24, 24) 64%);
  border: 1px solid #CCCCCC;
  overflow: hidden;
  opacity: 0.3;
  border-radius: 16px;
  z-index: -10;
}
.past-course-card__image-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.metrics {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 100px 0px;
  gap: 50px;
}
.metrics__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.metrics__item .metrics__value {
  color: #FFCC00;
}
.metrics__item .metrics__title {
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (min-width: 1120px) {
  .metrics {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}

.integrant {
  width: 100%;
  padding: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #3E3E3E;
  color: #FFFFFF;
}
.integrant__picture {
  width: 34px;
}
.integrant__link {
  width: unset;
}
.integrant__link .integrant__icon {
  width: 16px;
  margin-right: 5px;
}
.integrant__info-container {
  margin-right: auto;
}

.team {
  color: #FFCC00;
  text-align: left;
  font-size: 14px;
}

.home {
  padding: 0px 16px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1120px) {
  .home {
    overflow: visible;
  }
}
.home .hero-section {
  margin-bottom: 104px;
  max-width: 328px;
}
.home .hero-section__img {
  width: 100%;
  max-width: 500px;
}
.home .hero-section__description {
  width: 100%;
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 60px;
}
.home .cards-section {
  width: 100vw;
  overflow: hidden;
  margin-bottom: 0px;
}
.home .cards-section__title {
  margin-bottom: 24px;
}
.home .metrics-section {
  width: 100%;
}
.home .volunteer-section {
  width: 100%;
  overflow: hidden;
  margin-bottom: 90px;
  max-width: 328px;
}
.home .volunteer-section__conteiner__img {
  width: 100%;
}
.home .volunteer-section__conteiner__description-buttom {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home .volunteer-section__title {
  margin-bottom: 24px;
}
.home .contact-section {
  width: 100%;
  max-width: 328px;
  text-align: left;
}
.home .contact-section__title {
  margin-bottom: 30px;
}
.home .contact-section__form {
  display: flex;
  flex-direction: column;
}
.home .contact-section__form__form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 0 16px 0;
}
.home .contact-section__form__form1 .contact-section__textarea::-webkit-scrollbar {
  width: 6px;
}
.home .contact-section__form__form1 .contact-section__textarea::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0px;
}
.home .contact-section__form__form1 .contact-section__textarea::-webkit-scrollbar-thumb {
  background-color: #1A1A1A;
  border-radius: 20px;
}
.home .contact-section__form__form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.home .contact-section__form__form2 .contact-section__textarea::-webkit-scrollbar {
  width: 6px;
}
.home .contact-section__form__form2 .contact-section__textarea::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0px;
}
.home .contact-section__form__form2 .contact-section__textarea::-webkit-scrollbar-thumb {
  background-color: #1A1A1A;
  border-radius: 20px;
}
.home .footer {
  margin: 104px 0px 41px 0px;
}

@media screen and (min-width: 1120px) {
  .home {
    padding: 0px 16px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1120px) and (min-width: 1120px) {
  .home {
    overflow: visible;
  }
}
@media screen and (min-width: 1120px) {
  .home .hero-section {
    max-width: 100vw;
    margin-bottom: 104px;
  }
  .home .hero-section__img {
    width: 100vw;
    max-width: 735px;
    height: 100vw;
    max-height: 414px;
  }
  .home .hero-section__description {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0px 16px;
  }
}
@media screen and (min-width: 1120px) {
  .home .volunteer-section {
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
  }
  .home .volunteer-section__title {
    margin-bottom: 24px;
  }
  .home .volunteer-section__conteiner {
    display: flex;
    flex-direction: row;
  }
  .home .volunteer-section__conteiner__img {
    height: 320px;
    width: 546px;
  }
  .home .volunteer-section__conteiner__description-buttom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .home .volunteer-section__conteiner__description-buttom__description {
    text-align: left;
  }
}
@media screen and (min-width: 1120px) {
  .home .contact-section {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
    justify-content: center;
    align-items: center;
  }
  .home .contact-section__title {
    font-size: 40px;
  }
  .home .contact-section__form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .home .contact-section__form__form1 {
    display: flex;
    flex-direction: column;
    width: 493px;
    height: 176px;
  }
  .home .contact-section__form__form2 {
    display: flex;
    flex-direction: column;
    width: 546px;
    height: 176px;
    justify-content: flex-start;
  }
  .home .contact-section__form__form2__textarea {
    position: absolute;
    width: 546px;
    height: 176px;
  }
  .home .contact-section__form__form2__send {
    position: relative;
    top: 200px;
    left: -70px;
    width: 403px;
    height: 48px;
  }
}
@media screen and (min-width: 1120px) {
  .home .footer {
    margin: 62px 0px 45px 0px;
  }
}
.nosotres {
  padding: 0px 16px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1120px) {
  .nosotres {
    overflow: visible;
  }
}
.nosotres .teams-section {
  width: 100vw;
  overflow: hidden;
}
.nosotres .teams-section__description {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  padding: 0px 16px;
}
.nosotres .metrics-section {
  width: 100%;
}
.nosotres .integrants-section {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nosotres .dropdown {
  padding: 0px 5px;
}
.nosotres .dropdown__title {
  color: #FFCC00;
  padding-left: 0px;
}
.nosotres .footer {
  margin: 62px 0px 45px 0px;
}

@media screen and (min-width: 1120px) {
  .nosotres {
    padding: 0px 16px;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1120px) and (min-width: 1120px) {
  .nosotres {
    overflow: visible;
  }
}
@media screen and (min-width: 1120px) {
  .nosotres .teams-section {
    width: 100vw;
    overflow: hidden;
  }
  .nosotres .teams-section__description {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0px 16px;
  }
}
@media screen and (min-width: 1120px) {
  .nosotres .metrics-section {
    width: 100%;
  }
}
@media screen and (min-width: 1120px) {
  .nosotres .integrants-section {
    text-align: center;
  }
  .nosotres .integrants-section__title {
    margin: 50px 0px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1120px) {
  .nosotres .dropdown {
    padding: 0px 5px;
  }
  .nosotres .dropdown__title {
    color: #FFCC00;
    padding-left: 0px;
  }
}
@media screen and (min-width: 1120px) {
  .nosotres .footer {
    margin: 62px 0px 45px 0px;
  }
}
.courses {
  padding: 0px 16px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1120px) {
  .courses {
    overflow: visible;
  }
}
.courses .courses-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 41px;
}
.courses .courses-section__title {
  margin-bottom: 20px;
}
.courses .past-courses-section {
  width: 100vw;
  overflow: hidden;
  margin-bottom: 44px;
}
.courses .past-courses-section__title {
  margin-bottom: 11px;
}
.courses .past-courses-section__description {
  margin-bottom: 24px;
}
.courses .past-courses-section .swiper-pagination {
  margin: 0px;
}
.courses .faq-section {
  margin-bottom: 150px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.courses .faq-section .dropdown {
  padding: 0px 5px;
}
.courses .faq-section .dropdown__title {
  padding-left: 0px;
}

.error-page {
  padding: 0px 16px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1120px) {
  .error-page {
    overflow: visible;
  }
}
.error-page__img {
  width: 80%;
  height: 80%;
  max-width: 349px;
  max-height: 294px;
  margin-bottom: 80px;
}
.error-page__text {
  width: 100%;
  height: 100%;
  margin: 0px;
  max-width: 500px;
  font-size: 32px;
  margin-bottom: 20px;
}/*# sourceMappingURL=app.css.map */