@use "../1-helpers/variables" as *;
@use "../1-helpers/mixins" as *;

#snackbar-container {
  width: 100%;
  position: fixed;
  bottom: 0;

  @include flexCenter(column);

  .snackbar-container-snack {
    width: 100%;

    @include flexCenter(column);

    .snack {
      position: absolute;
      bottom: 12px;
      width: 70%;
      min-width: 300px;
      max-width: 600px;
      padding: 18px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      animation: 0.3s ease-in-out appear;

      border-radius: 12px;
      color: $black;

      &.dissapear {
        animation: 0.3s ease-in-out forwards dissapear;
      }

      &.success {
        background-color: $green;
      }

      &.error {
        background-color: $red;
      }

      .snack-close {
        height: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes appear {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes dissapear {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100px);
  }
}
