@use "../1-helpers/variables" as *;
@use "../2-basic/fonts" as *;

.contact-section {
  width: 100%;
  text-align: left;

  &__title {
    font-size: font("m-medium");
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .contact-section__textarea {
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
        margin: 10px 0px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: 20px;
      }
    }
  }

  &__input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__button {
    max-width: 400px;
    cursor: pointer;
  }
}

@media screen and (min-width: $tablet-bp) {
  .contact-section {
    &__title {
      font-size: 32px;
      margin-bottom: 68px;
    }

    &__form {
      flex-direction: row;
      gap: 70px;
    }

    &__input-container {
      justify-content: space-between;
    }

    &__button {
      position: absolute;
      bottom: -40%;
    }
  }
}
