@use "../1-helpers/variables" as *;
@use "../1-helpers/mixins" as *;

.button {
  display: block;
  position: relative;
  width: 100%;
  max-width: 330px;
  padding: 16px 0;
  gap: 10px;

  font-weight: 600;
  border-radius: 1000px;
  background: $yellow;
  color: $black;

  &.button-icon {
    @include flexCenter(row);
  }

  &:hover {
    cursor: pointer;
  }
}

button {
  &:disabled,
  &[disabled] {
    pointer-events: none;
    background-color: $grey-lighter;
  }
}

@media screen and (min-width: $tablet-bp) {
  .button {
    max-width: 380px;
    font-size: 1.125rem;
  }
}
