@use "../1-helpers/variables" as *;

.metrics {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 50px;

  text-align: left;

  .metrics-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .metrics-value {
      color: $yellow;
    }

    .metrics-title {
      margin-bottom: auto;
    }
  }
}

@media screen and (min-width: $tablet-bp) {
  .metrics {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}
