.card {
    // width: 350px;
    min-height: 390px;
    padding: 30px 20px 25px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;

    background-color: $grey-darker;
    color: $white;
    border-radius: 16px;
    text-align: center;


    &__image {
        height: 175px;
    }

    &__title {
    }

    &__description {
    }

    &__link {
        color: $yellow;
        text-decoration: none;
        font-weight: 600;
        margin-top: auto;
    }
}

@media screen and (min-width: $tablet-bp) {
    .card {
        min-height: 440px;
        // padding: 40px 20px;

        // display: flex;
        // flex-direction: column;
        // justify-content: flex-start;
        // align-items: center;
        // gap: 22px;

        // background-color: $grey-darker;
        // color: $white;
        // border-radius: 16px;
        // text-align: center;

        // &__image {
        //     height: 175px;
        // }

        // &__title {
        // }

        &__description {
            font-size: 18px;
        }

        // &__link {
        //     color: $yellow;
        //     text-decoration: none;
        //     font-weight: 600;
        // }
    }
}
