.metrics {
    $r: &;
    width: 100%;
    // max-width: unset;
    display: flex;
    flex-direction: column;
    text-align: left;

    margin: 100px 0px;

    gap: 50px;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        #{$r}__value {
            color: $yellow;
        }

        #{$r}__title {
            margin-top: auto;
            margin-bottom: auto;
            // font-size: $small
        }
    }

    @media screen and (min-width: $tablet-bp) {
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }
}
