$black: #1a1a1a;
$grey-darker: #2d2d2d;
$grey-light: #3e3e3e;
$grey-lighter: #cccccc;
$white: #ffffff;
$yellow: #ffcc00;
$yellow-lighter: #ffdf6b;
$pink: #ff99cc;
$red: #e35454;
$green: #4db281;

$tablet-bp: 980px;
