@font-face {
	font-family: "Work Sans";
	font-weight: 100;
	src: url("../assets/fonts/WorkSans/WorkSans-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 200;
	src: url("../assets/fonts/WorkSans/WorkSans-ExtraLight.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 300;
	src: url("../assets/fonts/WorkSans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 400;
	src: url("../assets/fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 500;
	src: url("../assets/fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 600;
	src: url("../assets/fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 700;
	src: url("../assets/fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 800;
	src: url("../assets/fonts/WorkSans/WorkSans-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: "Work Sans";
	font-weight: 900;
	src: url("../assets/fonts/WorkSans/WorkSans-Black.ttf") format("truetype");
}

$font-sizes: (
	"m-xx-small": 10px,
	"m-x-small": 12px,
	"m-small": 14px,
	"m-medium": 20px,
	"m-large": 32px,
	"d-xx-small": 18px,
	"d-x-small": 20px,
	"d-small": 22px,
	"d-medium": 24px,
	"d-large": 40px,
);

@function font($size) {
	@return map.get($font-sizes, $size);
}

body {
	font-family: "Work Sans";
	color: $white;
	font-size: font("m-small");
	font-weight: 400;
	line-height: 130%;
}

strong {
	font-weight: 600;
}

h3 {
	font-weight: 600;
}

h2 {
	font-size: font("m-medium");
	font-weight: 600;
}

h1 {
	font-size: font("m-large");
	font-weight: 700;
	line-height: 100%;
}

@media screen and (min-width: $tablet-bp) {
	$font-sizes: (
		"xx-small": 18px,
		"x-small": 20px,
		"small": 22px,
		"medium": 24px,
		"large": 40px,
	);

	.xx-small {
		font-size: font("d-xx-small");
	}

	.x-small {
		font-size: font("d-x-small");
	}

	body {
		font-family: "Work Sans";
		color: $white;
		font-size: font("d-small");
		font-weight: 400;
		line-height: 100%;
	}

	strong {
		font-weight: 600;
	}

	h3 {
		font-weight: 600;
	}

	h2 {
		font-size: font("d-medium");
		font-weight: 600;
	}

	h1 {
		font-size: font("d-large");
		font-weight: 700;
		line-height: 100%;
	}
}
