@use "../1-helpers/variables" as *;
@use "../1-helpers/mixins" as *;
@use "../2-basic/fonts" as *;

.home {
  @include section();
  @include flexCenter(column);

  .hero-section {
    margin-top: 40px;
    margin-bottom: 60px;

    &__illustration {
      width: 100%;
      max-width: 500px;
      margin-bottom: 25px;
    }

    &__description {
      font-size: 18px;
      width: 100%;
      max-width: 500px;
      margin-bottom: 40px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    &__button {
      max-width: 330px;
      margin: 0 auto;
    }
  }

  .cards-section {
    width: 100vw;
    overflow: hidden;
    margin-bottom: 150px;

    &__title {
      font-size: 28px;
      margin-bottom: 24px;
    }
  }

  .illustrative-card {
    width: 328px;
    min-height: 390px;
    padding: 30px 20px 25px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 22px;

    background-color: $grey-darker;
    color: $white;
    border-radius: 16px;
    text-align: center;

    &__image {
      height: 175px;
    }

    &__link {
      color: $yellow;
      font-weight: 600;
      margin-top: auto;
    }
  }

  .metrics {
    margin-bottom: 150px;
  }

  .volunteer-section {
    $r: ".volunteer-section";
    width: 100%;
    margin-bottom: 150px;
    max-width: 328px;

    &__title {
      margin-bottom: 26px;
    }

    &__inner-container {
      #{$r}__illustration {
        width: 100%;
      }

      #{$r}__info-container {
        max-width: 544px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        #{$r}__info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: left;
          flex-grow: 1;
          gap: 20px;
        }

        #{$r}__button {
          max-width: 380px;
        }
      }
    }
  }

  .contact-section {
    width: 100%;
    max-width: 328px;
    margin-bottom: 150px;

    &__title {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }
}

@media screen and (min-width: $tablet-bp) {
  .home {
    .hero-section {
      margin-bottom: 150px;
      &__illustration {
        max-width: 735px;
      }

      &__description {
        font-size: 22px;
        max-width: 800px;
      }

      &__button {
        max-width: 400px;
      }
    }

    .volunteer-section {
      $r: ".volunteer-section";
      max-width: 1120px;
      margin-bottom: 135px;

      &__title {
        margin-bottom: 64px;
      }

      &__inner-container {
        width: 100%;
        display: flex;
        gap: 20px;

        #{$r}__info-container {
          margin: 0;
          gap: 40px;
        }
      }
    }

    .illustrative-card {
      width: 352px;
      min-height: 440px;

      &__link {
        font-size: font("d-xx-small");
      }

      &__description {
        font-size: font("d-xx-small");
      }
    }

    .contact-section {
      text-align: center;
      max-width: 1120px;
      margin-bottom: 190px;

      &__title {
        font-size: 40px;
      }
    }

    .cards-section {
      &__title {
        font-size: 40px;
      }
    }
  }
}
