@use "../1-helpers/variables" as *;
@use "../1-helpers/mixins" as *;

.home {
  @include section();
  @include flexCenter(column);

  .hero-section {
    margin-bottom: 150px;

    &__illustration {
      width: 100%;
      max-width: 500px;
      margin-bottom: 25px;
    }

    &__description {
      width: 100%;
      max-width: 500px;
      margin-bottom: 60px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    &__button {
      max-width: 330px;
      margin: 0 auto;
    }
  }

  .cards-section {
    width: 100vw;
    overflow: hidden;
    margin-bottom: 150px;

    &__title {
      margin-bottom: 24px;
    }
  }

  .metrics {
    margin-bottom: 150px;
  }

  .volunteer-section {
    $r: ".volunteer-section";
    width: 100%;
    margin-bottom: 150px;
    max-width: 328px;

    &__title {
      margin-bottom: 26px;
    }

    &__inner-container {
      #{$r}__illustration {
        width: 100%;
      }

      #{$r}__info-container {
        max-width: 544px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        #{$r}__info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: left;
          flex-grow: 1;
          gap: 20px;
        }

        #{$r}__button {
          max-width: 380px;
        }
      }
    }
  }

  .contact-section {
    width: 100%;
    max-width: 328px;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: $tablet-bp) {
  .home {
    .hero-section {
      &__illustration {
        max-width: 735px;
      }

      &__description {
        max-width: 800px;
      }

      &__button {
        max-width: 400px;
      }
    }

    .volunteer-section {
      $r: ".volunteer-section";
      max-width: 1120px;
      margin-bottom: 135px;

      &__title {
        margin-bottom: 64px;
      }

      &__inner-container {
        width: 100%;
        display: flex;
        gap: 20px;

        #{$r}__info-container {
          margin: 0;
          gap: 40px;
        }
      }
    }

    .contact-section {
      text-align: center;
      max-width: 1120px;
      margin-bottom: 190px;
    }
  }
}
