@use "../1-helpers/variables" as *;
@use "../1-helpers/mixins" as *;

.error-page {
  @include section();
  @include flexCenter(column);

  .error-page-img {
    width: 80%;
    height: 80%;
    max-width: 349px;
    max-height: 294px;
    margin-bottom: 80px;
  }

  .error-page-text {
    max-width: 500px;
    font-size: 32px;
  }
}

@media screen and (min-width: $tablet-bp) {
  .error-page {
    .error-page-text {
      font-size: 2.5rem;
    }
  }
}
