.footer{
    width: 100%;
    max-width: 240px;


    // &__title{
        
    // }

    &__icon-container{
        width: 100%;
        padding: 40px 7px 0px 7px;

        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 29px;

    }

    &__icon{
        width: 100%;
        // max-width: 56px;
    }
}


@media screen and (min-width: 720px) {
    .footer{
        max-width: 670px;
    
    
        &__title{
            display: none;   
        }
    
        &__icon-container{
            padding: 40px 0px 48px 0px;
    
            display: flex;
            justify-content: space-around;
    
        }
    
        &__icon{
            max-width: 72px;
        }
    }
}



