// Tools
@import './0-tools/reset.scss';

// Helpers
@import './1-helpers/variables.scss';
@import './1-helpers/mixins.scss';
@import './1-helpers/functions.scss';

// Basic
@import './2-basic/fonts.scss';
@import './2-basic/body';

// Layout
@import './3-layout/header';

// Components
@import './4-components/card';
@import './4-components/dropdown';

// Views
@import './5-views/home';



// Dropdown incorporation

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}




.button{
    width: 350px;
    padding: 16px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 1000px;
    background-color: $yellow;

    &.button--error{
        background-color: $red;
    }
}



