@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

.text-yellow{
    color: $yellow;
}

.hidden{
    display: none !important;
}