<<<<<<< HEAD

$bg: #1A1A1A;
$card-bg: #2D2D2D;
$card-bg-active: #3E3E3E;
$text-darker: #CCCCCC;
$white: #FFFFFF;
$accent: #FFCC00;
=======
$black: #1A1A1A;
$grey-darker: #2D2D2D;
$grey-light: #3E3E3E;
$grey-lighther: #CCCCCC;
$white: #FFFFFF;
$yellow: #FFCC00;
$yellow-lighter: #FFDF6B;
$pink: #FF99CC;
$red: #E35454;
$green: #4BD281;
>>>>>>> MartinBBranch
